.header {
    height: 60px;
}

.left-menu,
.right-menu {
    height: calc(100% - 60px);
    background-color: #484e54;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.left-menu>.row,
.right-menu>.row {
    margin-bottom: 5px;
}

.selectable-item {
    transition: 0.3s all;
}

.selectable-item:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.selectable-item.selected {
    box-shadow: 0 0 10px #afccec;
    background-color: #bfdeff;
}

input[type='color'].form-control {
    padding: 2px 5px;
}