.left-menu,
.right-menu {
    height: 90%;
    background-color: #484e54;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.selectable-item {
    transition: 0.3s all;
}

.selectable-item:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}