.header {
    height: 60px;
}

.main-container {
    max-height: calc(100% - 60px);
    overflow: auto;
}

.left-menu,
.right-menu {
    height: calc(100% - 60px);
    background-color: #484e54;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.left-menu .info-container,
.right-menu .info-container,
.left-menu .actions-container,
.right-menu .actions-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
    height: 50%;
}

.left-menu .info-container,
.right-menu .info-container {
    justify-content: flex-start;
}

.left-menu .actions-container,
.right-menu .actions-container {
    justify-content: flex-end;
}

.left-menu .info-container .row,
.right-menu .info-container .row,
.left-menu .actions-container .row,
.right-menu .actions-container .row {
    margin-bottom: 5px;
}

.left-menu .info-container button,
.right-menu .info-container button,
.left-menu .actions-container button,
.right-menu .actions-container button {
    width: 100%;
}

.selectable-item {
    transition: 0.3s all;
}

.selectable-item:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.selectable-item.selected {
    box-shadow: 0 0 10px #afccec;
    background-color: #bfdeff;
}

input[type='color'].form-control {
    padding: 2px 5px;
}

.tags-container {
    max-height: 250px;
    overflow: auto;
}

.step-item.with-report {
    cursor: pointer;
}